// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800&display=swap');

 * {
    font-family: 'Poppins', sans-serif;
 }

 // Bootstrap Icons
 @import url('bootstrap-icons');

 // Variables
// @import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.alert-msg {
    transform: translateX(-50%) translateY(10%);
}

.cover-img {
    transition: all 1s;
}
.cover-img:hover {
    filter: grayscale(30%);
    transform: scale(1.2);
}
